html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}



.Logo{
  float: left;
  padding-left: 2%;
  padding-top: 0;
}

.Logo-Icon {
  display: inline;
  position: relative;
}

button {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

h3, h4 {
  margin-bottom: 0;
}

/* NavBar Stylings */
nav {
  border-bottom: none;
  text-align: center;
  position: relative;
  top: 0;
  width: 100%;
  background-color: white ;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 10vw ;
}

nav li {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  
  
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 16px 32px;
}

nav a:hover {
  background: white;
  color:grey;
  text-decoration: none;
 }


/**Footer Stylings **/
.Footer{
  border-top: 1px solid black;
  margin-top: 10vh;
  max-width: 100%;
}

.Footer-ul{
  list-style-type: none;
  margin-top: 0;
  color: black;
}

.Footer-text{
  color: black;
}
.Footer-text, .Footer-ul{
  text-decoration: none;

}

/** HomePage Stylings **/
#img-banner{
  background-image: url('./images/home_page_banner.jpg');
  background-position: center;
  
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.70;
  height: 20em;
  max-width: 100%;
}
.title {
  text-align: center;
  color: white;
  font-size: 15vw;
  margin-top: 0%; 
  padding-top: 12vw;
}

.title-about{
  color: black;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;  
  letter-spacing: 0.225em;
  margin-top: 5vh;
  text-transform: uppercase;
  margin-bottom: 15vh;
 border-bottom: 1px solid black;
}

.title-box{
  font-size: small;
  margin-top: 10%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
}

.subtitle {
  text-align: center;
  color: white;
  font-size: 8vw;
  padding-bottom: 100%;
  padding-left: 4vw;

}

.content-body{
  
  text-align: justify;
}

.content-body-margin{
  margin-top: 5%;
}

.mediaCard {
  justify-content: center;
  margin-top: 1.5%;
}

.socialMediaBtn{
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}

#page-body {
  
  
}

.article-list-item {
  text-decoration: none;
  color: black;
  padding: 16px 0 0 0;
}

.article-list-item p {
  padding-bottom: 32px;
  border-bottom: 2px solid black;
}

.grid{
  margin: 2%;
}

.grid-img{
  max-width: 100%;
  height: auto;
  transition: 0.5s;
}


.grid-img-md{
  max-width: 50%;
  height: auto;
  transition: 0.5s;
}

.grid-img-sm{
  max-width: 30%;
  height: auto;
  transition: 0.5s;
}

.carousel-content-grid{
  justify-content: center;
  padding-bottom: 150px;
}

.grid-img:hover, .grid-img-sm:hover, .grid-img-md:hover, .socialMediaBtn:hover{
  transform: scale(1.5);
  filter: drop-shadow(0 0 0.75rem,white);
}
.img{

}
.image-scale-down{
  max-width: 100%;
  height: auto;
}

.contact-body{
  margin-top: 5%;
}

.inputBox{
  margin-bottom: 5%;
  width: 90vw;
  max-width: 100%;
  border-radius: 30px;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  outline: none;  
  padding: 10px;

}

.inputBox-lg{
  height: 15vh;
  max-height: auto;
  
}

#contactSubmitBtn{
  float: right;
  color: black;
  background-color: white;
  border-width: 1px;
}

#add-comment-form {
  border-bottom: 2px solid black;
  padding: 16px;
}

#add-comment-form h3 {
  margin-bottom: 16px;
}

#add-comment-form input, textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

#add-comment-form button {
  width: 320px;
}

#upvotes-section button, p {
  display: inline-block;
  margin-right: 16px;
}

.comment {
  border-bottom: 2px solid black;
  padding: 16px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
#img-banner{
  background-image: url('./images/home_page_banner.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat, repeat;
  max-width: 100%;
  opacity: 0.8  0;
  height: 40vw;
}

.title {
  text-align: center;
  color: white;
  font-size: 8vw;
  margin-top: 0%;
  padding-top: 5vw;
}

.title-box{
  font-size: small;
  margin-top: 4%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  opacity: 0.8;
}

.subtitle {
  text-align: center;
  color: white;
  font-size: 3vw;
  padding-bottom: 50%;
  padding-left: 10%;

}

.grid{
  margin: 1%;
  margin-bottom: 2%;
}

}


/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}